/* место для вашего кода */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 293px;
}

.header-logo {
    max-width: 148px;
}

.header__links-list {
    display: flex;
    gap: 25px;
    list-style: circle;
    font-size: 18px;
    font-weight: 400;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

address {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

.header__address {}

.header__link_active {
    text-decoration: none;
}

footer {
    display: flex;
}

.cover {
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 300px;
    color: white;
    padding: 165px 50px 50px 50px;
    position: relative;
    z-index: -1;
}

.cover__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cover h1 {
    font-size: 100px;
    /* font-style: bold; браузер не принимает */
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3em;
    line-height: 115px;
    margin: 0 0 106px 0;
    position: relative;
    z-index: 1;
}

.cover__h1__span-left {
    display: block;
    text-align: left;
}

.cover__h1__span-center {
    display: block;
    text-align: center;
}

.cover__h1__span-right {
    display: block;
    text-align: right;
}

.description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
}

.description p {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 15px;
}
.description button {
    background: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 500;
    font-size: 22px;
    padding: 12px 32px;
    text-transform: uppercase;
}




.lots {
    margin: 180px 24px 0 24px;
}

.lots ul {
    display: flex;
}
.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.lots__card-list {
    display: flex;
    gap:25px;
}
.lots__card-list-item {
    width: 334px;
    height: 596px;
    color: white;
    text-decoration: none;
}
.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 300px;
    
    position: relative;
    z-index: -1;
    height: 100%;  /* Так порекомендовали в туториале. Пока не знаю зачем. */
    padding: 48px 40px 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}
.card__content {
    position: relative;
    z-index: 1;
}
.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
}
.card__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
    
}



.about {
    margin: 120px 24px 180px 24px;
}