/* место для вашего кода */

header {
    display: grid;
    grid-template-columns: 42% 16% 42%;
    justify-items: center;
    align-items: center;
    height: 293px;
}

.header-logo {
    max-width: 140px;
}

.header__menu {
    margin-left: 25px;
}

.header__links-list {
    display: flex;
    gap: 35px;
    list-style: circle;
    font-size: 18px;
    font-weight: 400;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

address {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    text-underline-offset: 4px;
}

.header__address {
    margin-right: -42px;
}

.header__link_active {
    text-decoration: none;
}



.cover {
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 300px;
    color: white;
    padding: 165px 50px 50px 50px;
    position: relative;
    z-index: -1;
}

.cover__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cover h1 {
    font-size: 100px;
    /* font-style: bold; браузер не принимает */
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3em;
    line-height: 115px;
    margin: 0 0 106px 0;
    position: relative;
    z-index: 1;
}

.cover__h1__span-left {
    display: block;
    text-align: left;
    margin-bottom: 20px;
}

.cover__h1__span-center {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 30px;
}

.cover__h1__span-right {
    display: block;
    text-align: right;
    margin-right: -30px;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.description p {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 19px;
}

.description button {
    background: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 500;
    font-size: 22px;
    padding: 12px 32px;
    text-transform: uppercase;
}

button {
    cursor: pointer;
}



.lots {
    margin: 180px 24px 0 24px;
}

.lots ul {
    display: flex;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    width: 334px;
    height: 596px;
    color: white;
    text-decoration: none;
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 300px;

    position: relative;
    z-index: -1;
    height: 100%;
    /* Так порекомендовали в туториале. Пока не знаю зачем. */
    padding: 48px 40px 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__content {
    position: relative;
    z-index: 1;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
    /* text-underline-offset: 4px; */
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;

}

.lots__look-more-link {
    font-size: 20px;
    font-weight: 400;
    margin-left: 40px;
    padding: 30px 0 0;
    text-underline-offset: 5px;
}


.about {
    margin: 120px 24px 180px 24px;
    height: 595px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0 0 47px;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 136px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.about__text-spacing {
    margin-bottom: 24px;
}




footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 180px;
}

.footer__contacts {
    margin-left: 50px;
}

.footer__social-icon {
    max-width: 48px;
}

.footer__socials {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: flex-start;
    margin-left: 27px;
}

footer nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1em;
    text-underline-offset: 3px;
}