/* место для вашего кода */

header {
    display: flex;
}
footer {
    display: flex;
}
.cover {

}
.lots {

}
.lots ul {
    display: flex;
}
.about {

}
.description {
    
}
.header-logo {
    max-width: 148px;
}